body {
  background-color: black;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: Roboto;
  color: var(--lettering);
}

header {
  height: 100vh;
  display: flex;
}

.header-overlay {
  background-image: url("../assets/city.gif");
  background-position: center;
  background-size: cover;
  background-repeat: none;
  flex: auto;
  box-shadow: 1px 1px 20px 1px black;
  position: relative;
}

.scroll-svg {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.header-links-container {
  position: absolute;
  right: 20px;
  bottom: 150px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  opacity: 0;
  transition: opacity 1s ease;
}

.header-links {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  text-align: left;
  font-family: Tomorrow;
  font-weight: bold;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  background-color: var(--outlines);
  padding: 1rem;
  position: relative;
  width: 230px;
  height: 60px;
  border: 0;
}

.header-links > span,
.header-links > a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: white;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: var(--theme-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  text-decoration: none;
}

.header-links:hover {
  cursor: pointer;
}

.header-links > span:hover,
.header-links > a:hover {
  background-color: var(--outlines);
}

.scroll-svg {
  opacity: 0;
  transition: opacity 1s ease;
}

.title {
  transform: translateX(50px);
  opacity: 0;
  padding-left: 100px;
  padding-top: 100px;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  color: white;
  overflow: hidden;
}

.title-user {
  display: flex;
  height: fit-content;
  align-items: center;
  font-size: 10rem;
}

.title-user > h1 {
  font-family: Glitch;
  font-size: inherit;
}

.title-descrpt {
  display: flex;
  align-items: center;
}

.cursor {
  padding: 0.15em;
  background-color: white;
  font-size: 0.65em;
}

.cursor-blink {
  opacity: 0;
}

.login {
  opacity: 0;
  transition: opacity 1s ease;
  padding-top: 2rem;
}

.slidein {
  transform: translateX(0px);
  opacity: 1;
  transition: opacity 0.5s ease-in, transform 0.25s ease-in-out;
}

.about,
.projects {
  scale: 90%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: scale 1s ease;
  /* background-color: rgb(46, 0, 11); */
  /* box-shadow: 1px 1px 20px 1px black; */
  overflow: hidden;
  gap: 1rem;
}

.scale {
  scale: 98%;
}

footer {
  padding: 2rem;
  background-color: #fcee09;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: black;
  border-top: 2px solid var(--theme-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-container-2 {
  display: flex;
  justify-content: space-between;
  width: max-content;
  align-items: center;
}

.footer-links-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  align-items: end;
}

.footer-links-list > p {
  padding: 0.5rem 0;
  color: darkslategrey;
}

.footer-links-list > li > a {
  text-decoration: none;
  color: black;
}

.footer-links-list > li > a:hover {
  text-decoration: underline;
}

.footer-links-list > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-user {
  font-family: Glitch;
  font-size: xx-large;
  height: max-content;
  margin: auto 0;
}

.contact-links-container {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.link-container {
  width: 40px;
  height: 40px;
  background-color: #fcee09;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.25s;
}

.link-container:hover {
  scale: 1.25;
}

.link-container > a > img {
  width: 75%;
}

.link-container > a {
  text-decoration: none;
}

.link-container > a > i {
  font-size: 2rem;
}

@media (max-width: 500px) {
  .title {
    padding-left: 18px;
    font-size: 1.25rem;
  }

  .title-user {
    font-size: 4.5rem;
  }

  .header-links {
    height: 40px;
    width: 150px;
    font-size: 1.25rem;
  }

  .footer-user {
    display: none;
  }

  .footer-container-2 {
    flex-direction: column;
    gap: 0.5rem;
  }
}
