@import "./layout.css";
@import "./about.css";
@import "./projects.css";

:root {
  /* --theme-color: rgb(123, 104, 238);
  --highlights: rgb( 72, 61, 139 ); */
  --theme-color: #2a2356;
  --bg-color: rgb(46, 0, 11);
  --lettering: rgb(255, 0, 60);
  --outlines: #6ecbf5;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/Roboto-Black.ttf");
}

@font-face {
  font-family: Glitch;
  src: url("../assets/Glitch.ttf");
}

@font-face {
  font-family: Tomorrow;
  src: url("../assets/Tomorrow-ExtraLight.ttf");
}

@font-face {
  font-family: TomorrowReg;
  src: url("../assets/Tomorrow-Regular.ttf");
}
* {
    margin: 0;
    box-sizing: border-box;
  }
  