.project-container {
  display: flex;
  flex: 1;
}

.project-container-gif,
.project-container-descrpt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 3rem;
}

.project-container-gif {
  transform: translateX(100px);
  opacity: 0;
  transition: all 1s ease;
}

.gif-slidein {
  transform: translateX(0px);
  opacity: 1;
}

.project-container-descrpt {
  flex-direction: column;
  padding: 2rem;
}

.project-links {
  display: flex;
  gap: 1rem;
}

.project-links > a {
  text-decoration: none;
  width: 100px;
  height: 40px;
  background-color: var(--lettering);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  position: relative;
}

.project-links > a:focus,
#all-repos:focus {
  scale: 1.05
}

.project-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: var(--bg-color);
  color: white;
  font-size: 1.1rem;
  gap: 0.25rem;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  font-family: TomorrowReg;
}

.project-button > i {
  font-size: 24px;
}

.project-button:hover,
.project-button:active,
#all-repos-contents:hover,
#all-repos-contents:active {
  cursor: pointer;
  background-color: var(--highlights);
}

.gif-container img {
  width: 100%;
  height: 100%;
}

.project-container-descrpt p {
  max-width: 400px;
  padding: 2rem;
}

.all-projects-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  align-items: center;
  border: solid 3px var(--lettering);
  background-color: var(--bg-color);
}

.right-shadow {
  box-shadow: 20px 20px 0 0 var(--lettering);
}

.left-shadow {
  box-shadow: -20px 20px 0 0 var(--lettering);
}

#all-repos {
  text-decoration: none;
  color: white;
  padding: 1rem;
  background-color: var(--lettering);
  width: 225px;
  height: 50px;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  position: relative;
}

#all-repos-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: var(--bg-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  font-family: TomorrowReg;
  gap: .25rem;
}

@media (max-width: 850px) {
  .project-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .all-projects-container {
    width: 100%;
  }
  .project-container-gif {
    padding: 1rem;
  }
  .project-container-descrpt {
    padding: 1rem;
  }
}
